@pink: #9A003D;

html {
  width: 680px;
  margin: 10px auto; 
  margin-top: 30px;
  font-family: Tahoma, sans-serif; }
.muziek {
  float: right }
.dans {
  float: left }

a, a:visited {
  color: @pink; 
  text-decoration: none; }
a:hover {
  text-decoration: underline; }
ul {
  list-style: square; } 
