@pink: #9A003D;
@width: 740px;

html {
  margin: 0px auto; 
  font-family: Tahoma, sans-serif;
  color: #222222; 
  background-color: white; }

body{
  width: @width + 20px;
  padding: 10px;
  margin: auto;
  background-color: #CCCCCC; 
  border: 2px solid #222222; }
header h1 {
  font-size: 48px;
  text-align: center;
  padding: 0px;
  margin: 10px 0px; }

.container {
  clear: both;
  width: @width;
  margin: auto; 
  padding-top: 5px;
  p { text-align: justify; } 
}
.column {
  width: @width/2 - 20px;
  img {
    display: block;
    width: 300px;
    margin: auto;
    border: none; }
  h1 {
    font-size: 18px; }
  ul {
    margin-top: 7px;
    margin-bottom: 15px; }
  p {
    padding: 0px; 
    margin: 10px 0px;
    margin-top: 15px; }
  div.abstract {
    margin-top: 30px; }
}
.muziek {
  float: right }
.dans {
  float: left  }

p, ul li {
  font-size: 16px; }
a, a:visited {
  color: @pink; 
  text-decoration: none; }
a:hover {
  text-decoration: underline; }
ul {
  list-style: square; }
.contact {
  padding-left: 0px; }
